// =========================================================
// LISTING
// The default style for content views.
// =========================================================
body.not-front #content {
  .no-sidebar {
    .view {
      @include center-column($desktop_column);
      &.view-panel-experts {
        @include center-column($desktop_content_column);
        margin-bottom: 3em;
      }
      &.view-id-themes.view-display-id-landing_page {
        @include center-column($desktop_content_column);
      }
    }
    .views-row {
      @include breakpoint(tablet) {
        @include span-columns(4 of 12);
      }
      &:nth-child(3n) {
        @include breakpoint(tablet) {
          @include omega();
        }
      }
    }
    .view-panel-experts .views-row {
      float: none;
      width: 100%;
      margin-top: 2em;
      .views-field-field-panel-expert-image {
        float: right;
        margin-left: 1.5em;
      }
      .views-field-field-panel-expert-date {
        margin-top: 1em;
        .views-label {
          font-weight: bold;
        }
        .field-content {
          display: inline-block;
        }
      }
    }
    .view-id-themes.view-display-id-landing_page .views-row {
      float: none;
      margin: 0;
      width: 100%;
      .views-field-field-theme-image {
        float: left;
        margin-right: 2em;
        margin-bottom: 4em;
        img {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 218px;
          height: 130px;
          object-fit: cover;
        }
      }
      .views-field-name {
        font-size: rem(20px);
        margin-top: 0;
      }
      .views-field-description p {
        font-size: rem(15px);
        line-height: rem(22px);
      }
      .views-field-nothing {
        font-size: rem(14px);
      }
    }
  }
  .has-sidebar {
    .view {
      max-width: $desktop_content_column;
    }
    .views-row {
      @include breakpoint(tablet) {
        @include span-columns(6 of 12);
      }
      &:nth-child(2n) {
        @include breakpoint(tablet) {
          @include omega();
        }
      }
    }
    .region-sidebar-first .view-measures.view-display-id-by_theme, .region-sidebar-first .view-subthemes.view-display-id-by_theme, .view-events.view-display-id-theme_related {
      .view-content {
        margin-top: 1em;
      }
      .views-row {
        display: block;
        width: 100%;
        margin-bottom: .75em;
      }
    }
  }
  .view {
    .view-content {
      @include breakpoint(tablet) {
        @include outer-container(100%);
        display: flex;
        flex-wrap: wrap;
      }
      .views-row {
        .node {
          @include listing-component-wrapper;
          padding-left: 0;
          padding-right: 0;
          &.has-thumbnail {
            padding-top: $listing_component_image_height;
            .field-type-image {
              @include listing-component-image;
              .field-item:nth-child(n + 2) {
                display: none;
              }
            }
            h2 {
              margin-top: rem(30px);
            }
          }
          &>.links {
            li {
              padding-left: 0;
            }
          }
        }
        h2 {
          @include listing-component-heading;
          margin-top: 0;
        }
        .field-name-field-date, .submitted, .field-type-datetime {
          @include listing-component-subtext;
        }
        .field-name-body {
          @include listing-component-body;
        }
      }
    }
    .pager {
      margin-top: $default_padding;
      margin-bottom: $default_padding;
    }
  }
}

.content-body .content .view-themes {
  .views-field-field-theme-image a {
    border: none;
    &:focus, &:hover {
      background: none;
    }
  }
  .views-field-name {
    margin-top: rem(7px);
    margin-bottom: rem(17px);
  }
}

#block-views-themes-landing-page>h2 {
  @include center-column($desktop_content_column);
}

.menu-block-wrapper.menu-block-1 {
  @include center-column($desktop_content_column);
  ul {
    padding: 0;
    margin: 0;
    li {
      @include clearfix();
      list-style: none;
      margin: 0;
      .image {
        float: left;
        margin-right: 2em;
        margin-bottom: 4em;
        img, .image-placeholder {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 218px;
          height: 130px;
          object-fit: cover;
        }
        .image-placeholder {
          background: $secondary_1;
        }
      }
      h3 {
        font-size: rem(20px);
        margin-top: 0;
      }
      .summary * {
        font-size: rem(15px);
        line-height: rem(22px);
      }
    }
  }
}
