.page-node.node-type-measure {
  .node {
    h2.field-label {
      font-size: rem(32px);
      margin-top: 1.5em;
      margin-bottom: .5em;
    }
    .paragraphs-items-field-author {
      >.field-name-field-author>.field-items {
        >.field-item {
          .field-name-field-author-ref, .field-name-field-organisation {
            display: inline-block;
            vertical-align: top;
            margin-top: 0;
            margin-bottom: 0;
          }
          .field-name-field-author-ref {
            font-weight: bold;
            .field-name-field-display-name {
              margin-top: 0;
              margin-bottom: 0;
            }
          }
          .field-name-field-author-ref+.field-name-field-organisation {
            &:before {
              content: ',';
              display: inline-block;
              vertical-align: top;
              margin-right: 5px;
            }
            >.field-items {
              display: inline-block;
            }
          }
        }
      }
    }
    >.content>.field-name-body {
      >h2 {
        position: relative;
        padding-left: .75em;
        &:hover {
          cursor: pointer;
        }
        &:focus {
          outline: none;
        }
        &:before {
          position: absolute;
          top: 10px;
          left: 0;
          width: 100px;
          height: 100px;
          content: '';
          background-image: url(../images/svg/accordion_right_arrow.svg);
          background-repeat: no-repeat;
          background-size: 13%;
        }
        &.ui-accordion-header-active {
          &:before {
            top: 15px;
            background-image: url(../images/svg/accordion_down_arrow.svg);
            background-size: 18%;
          }
        }
      }
    }
  }
}
