.page-node.node-type-measure {
  .node {
    h2.field-label {
      font-size: rem(32px);
      margin-top: 1.5em;
      margin-bottom: .5em;
    }
    >.content>.field-name-body {
      >h2 {
        position: relative;
        padding-left: .75em;
        &:hover {
          cursor: pointer;
        }
        &:focus {
          outline: none;
        }
        &:before {
          position: absolute;
          top: 10px;
          left: 0;
          width: 100px;
          height: 100px;
          content: '';
          background-image: url(../images/svg/accordion_right_arrow.svg);
          background-repeat: no-repeat;
          background-size: 13%;
        }
        &.ui-accordion-header-active {
          &:before {
            top: 15px;
            background-image: url(../images/svg/accordion_down_arrow.svg);
            background-size: 18%;
          }
        }
      }
    }
  }
  #content .has-sidebar .region-sidebar-first {
    .view {
      .views-row {
        width: 100%;
      }
      .views-field {
        margin-bottom: rem(24px);
        >h2 {
          @include block-heading;
          margin-top: 0;
          margin-bottom: 5px;
        }
      }
    }
    .views-field-field-author>.field-content>.item-list {
      ul {
        >li {
          margin: 0;
          list-style: none;
        }
      }
    }
    .paragraphs-item-author-with-organisation {
      margin-bottom: rem(25px);
      .field-name-field-author-ref, .field-name-field-organisation {
        margin-top: 0;
        margin-bottom: 0;
      }
      .field-name-field-author-ref {
        font-weight: bold;
        .node-author {
          margin: 0;
          padding: 0;
        }
        .field-name-field-display-name {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      .field-name-field-organisation {
        line-height: rem(20px);
      }
    }
  }
}
